
<ion-content [fullscreen]="true">

  <ion-grid fixed class="ion-padding">

    <ng-container *ngIf="LOADING_DATOS; else responseAPI">

      <ion-card *ngFor="let item of [1,2,3,4,5]" class="ion-no-padding">
        <ion-card-header class="ion-text-start">
            <ion-card-subtitle>
              <ion-skeleton-text [animated]="true" style="width: 100%; height: 25px;"></ion-skeleton-text>
            </ion-card-subtitle>
        </ion-card-header>
      </ion-card>


    </ng-container>

    <ng-template #responseAPI>
      <ng-container *ngIf="!PRODUCTOS.success; else sihayDatos">
        <ion-row class="ion-text-center">
          <ion-col size="12">
            <ion-chip  color="warning">{{PRODUCTOS.name}}</ion-chip>
          </ion-col>
        </ion-row>
      </ng-container>
  
    </ng-template>

    <ng-template #sihayDatos>

      <ion-row >
        <ion-col *ngFor="let item of PRODUCTOS.data" size-xs="6" size-sm="6" size-xl="6" class="ion-padding">
          <ion-thumbnail>
            <img alt="ERROR AL CARGAR LA IMAGEN" [src]="item.VALOR_STRING255_1 ? item.VALOR_STRING255_1 : 'assets/images/no-image.svg'" />
            <div class="marca-agua">{{ item.DESC_NIVEL }}</div>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
  
    </ng-template>

  </ion-grid>


</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center"><small>Rastro {{VERSION_RASTRO}}</small></ion-title>
  </ion-toolbar>
</ion-footer>
